.pen {
    fill: white;
    width: 35px;
    height: 35px;

}

.fullscreen {
    fill: white;
    width: 35px;
    height: 35px;
}

.plane {
    fill: white;
    width: 35px;
    height: 35px;
    padding-left: 2px;
}

.view-list {
    fill: white;
    width: 30px;
    height: 30px;
    padding-left: 4px;
}

.cursor {
    width: 30px;
    height: 30px;
}

.comment {
    width: 30px;
    height: 30px;
}

.clients {
    width: 30px;
    height: 30px;
}

.icon-download {
    width: 30px;
    height: 30px;
}