/* font-sizes */
$title_size:5rem;
$sub_size:1.5rem;
$midle_size:1.4rem;
$small_size:1.3rem;
/* color */
$banner-color:#81e4ed;
$slide-color: #de5836;
$main-color: #2aacc8;
$text:#000;
$bg: #e8fcfe;
$header: #e8ebf1;

/* font-family */
$Lato:'Lato',
sans-serif;
$Arial: 'Arial',
sans-serif;